{
  "singleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
